# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
**/xcuserdata/
**/*.xcuserstate
**/DerivedData/
**/*.xcscmblueprint
**/*.xccheckout

# Build artifacts
*.o
*.a
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Release pipeline outputs
/build/
/dist/
